# Postgresql database connection
POSTGRES_USER=<Имя пользователя>
POSTGRES_PASSWORD=<Пароль пользователя>
POSTGRES_DB=<Название базы данных>
POSTGRES_SERVER=<Название или IP сервера базы данных>
POSTGRES_PORT=<Порт базы данных>

# Celery and Email notifications
RABBIT_USER=<Имя пользователя для админки RabbitMQ>
RABBIT_USER_PASS=<Пароль RabbitMQ>
# amqp://${RABBIT_USER}:${RABBIT_USER_PASS}@${service-host}:${service-port}
CELERY_BROKER=amqp://${RABBIT_USER}:${RABBIT_USER_PASS}@rabbitmq:5672

# пока используем MailDev - вообще не важно какие данные для почты
FROM_EMAIL=<Емайл с которого будут отправлятся письма>
SMTP_HOST=<Адрес SMTP-сервера для отправки электронной почты.>
SMTP_PORT=<Порт SMTP-сервера.>

# JWT configuration
SECRET_KEY=<секретный ключ для хеширования паролей>
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# First Admin credentials
ADMIN_EMAIL=user@example.com
ADMIN_USERNAME=Admin
ADMIN_PASSWORD=secret_password
