# Project settings
TITLE=<project name>
VERSION=<project version>
DESCRIPTION=<project description>
DOCKER_USER=<username for pulling docker image>

# Postgresql database connection
POSTGRES_USER=<username>
POSTGRES_PASSWORD=<user pass>
POSTGRES_DB=<db name>
POSTGRES_SERVER=<Database server name or IP address>
POSTGRES_PORT=<DB port>

# Celery and Email notifications
RABBITMQ_DEFAULT_USER=<Username for the RabbitMQ admin panel>
RABBITMQ_DEFAULT_PASS=<Password for RabbitMQ>
# amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@${service-host}:${service-port}
CELERY_BROKER=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@rabbitmq:5672

# цhen using MailDev, the specific email details don't matter at all
FROM_EMAIL=<email address from which emails will be sent>
SMTP_HOST=<SMTP server address for sending email>
SMTP_PORT=<SMTP server port>

# JWT configuration
SECRET_KEY=<secret key for password hashing>
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# First Admin credentials
ADMIN_EMAIL=user@example.com
ADMIN_USERNAME=Admin
ADMIN_PASSWORD=secret_password
