<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>

<h2>
    Новое бронирование
</h2>

<p>
    Пользователь создал новое бронирование.
</p>

<ul>
    <li>
        Имя клиента:
        <strong>{{ user_name }}</strong>
    </li>

    <li>
        Email:
        <strong>{{ user_email }}</strong>
    </li>

    <li>
        Кафе:
        <strong>{{ cafe_name }}</strong>
    </li>

    <li>
        Количество гостей:
        <strong>{{ guests_count }}</strong>
    </li>

    <li>
        Время бронирования:
        <strong>{{ booking_time }}</strong>
    </li>
</ul>

</body>
</html>
